<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Nunito:wght@800;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/static/css/administrative.css">

</head>

<body>

  <div class="login-container">
    <h2>ADMINISTRATIVE LOGIN</h2>
    <p id="instruction">Please enter your Username and Password!</p>

    <input class="inp" type="text" placeholder="Username">
    <input class="inp" type="password" placeholder="Password">

    <a href="#">New Registration</a>
    <button class="cta">Login</button>


  </div>

</body>

</html>